/*
 * Search/map view
 * Try to keep this "mobile first"
 */

// Variables
@search-toolbar-opacity:            0.95;
@search-controls-gap-mobile:        6px;


.search {
  // Hide overlays list from the layer controller
  // @todo: This should be done at JS but isn't possible with Angular-Leaflet
  .leaflet-control-layers {
    .leaflet-control-layers-overlays,
    .leaflet-control-layers-separator {
      display: none;
    }
  }
}

#search-map-canvas {
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 0;
  position: fixed;
  top: @navbar-height;
  bottom: 0;

  // Move some controllers to different places from their initial corners
  /*
  @media (max-width: @screen-xs-max) {
    // Zoom control on botton-right instead at small screens
    .leaflet-top.leaflet-left {
      left: auto;
      top: auto;
      bottom: 0;
      right: 0;
      .leaflet-control {
        margin: 0 @search-controls-gap-mobile @search-controls-gap-mobile 0;
      }
    }
    // Attribution control
    .leaflet-bottom.leaflet-right {
      right: 70px;
    }
    // Layer switch
    .leaflet-bottom.leaflet-left {
      .leaflet-control {
        margin: 0 0 @search-controls-gap-mobile @search-controls-gap-mobile;
      }
    }
  }
  */
}
