Hello {{userToName}}!

{{#if messageCount > 1 }}You have {{ messageCount }} unread messages from {{userFromName}} at Trustroots.
{{ else }}You have one unread message from {{userFromName}} at Trustroots.
{{/if}}
To reply, go to: {{urlReplyPlainText}}

--------------------------------------------------------------------------------
{{#each messages}}

{{./content | striptags}}

--------------------------------------------------------------------------------
{{/each}}

Do not reply this email directly.

To reply, go to: {{urlReplyPlainText}}

See their profile: {{urlUserFromProfilePlainText}}
