<section class="search">

  <!-- Map overlay messages -->
  <div ng-if="app.user && !app.user.public && !search.locationNotFound" class="search-overlay-message">
    Sorry, you need to first activate your profile before you can browse others.
  </div>
  <div ng-show="search.mapCenter.zoom <= search.mapMinimumZoom && app.user.public && !search.locationNotFound" class="text-uppercase search-overlay-message">
    Zoom in closer to see everyone
  </div>

  <div ng-if="search.mapCenter" ng-class="{'leaflet-layerstyle-satellite': (search.mapLayerstyle === 'satellite')}">
    <leaflet id="search-map-canvas"
             lf-center="search.mapCenter"
             markers="search.mapMarkers"
             layers="search.mapLayers"
             bounds="search.mapBounds"
             paths="search.mapPaths"
             defaults="search.mapDefaults"
             event-broadcast="search.mapEvents"></leaflet>
  </div>

  <button class="btn btn-link search-map-toggle"
          ng-click="search.isSidebarOpen = false"
          aria-label="Collapse side panel"
          uib-tooltip="Collapse side panel"
          tooltip-placement="left">
    <i class="icon-right hidden-xs"></i>
    <span class="visible-xs">Back to map</span>
  </button>

  <div class="search-sidebar" ng-show="search.isSidebarOpen">

    <!--
    <h4 class="text-muted">Search</h4>
    <hr class="hr-gray" />
    -->

    <!-- Location search -->
    <div class="search-sidebar-section">
      <div class="form-group search-sidear-place" ng-class="{'has-warning': search.locationNotFound}">
        <div class="input-group input-location">
          <label for="search-query" class="sr-only">Search places</label>
          <input type="text"
                 id="search-query"
                 class="form-control input-lg"
                 placeholder="Search places"
                 ng-model="search.searchQuery"
                 tr-location
                 tr-location-center="search.mapCenter"
                 tr-location-bounds="search.mapBounds"
                 tr-location-notfound="search.locationNotFound">
          <span class="input-group-btn">
            <button type="button" class="btn btn-lg btn-default" ng-click="search.searchAddress()" uib-tooltip="Search" tooltip-placement="bottom">
              <i class="icon-search"></i>
            </button>
          </span>
        </div>
        <p class="help-block" ng-if="search.locationNotFound">
          We could not find <em ng-bind="::search.locationNotFound"></em><br>
          <small>Make sure your search is spelled correctly.</small>
        </p>
      </div>
    </div>
    <!-- /Location search -->

    <!-- Filters -->
    <div class="search-sidebar-section search-sidebar-filters" ng-if="search.tribes && search.tribes.length">

      <h4>Filter by tribes</h4>

      <div class="form-group">
        <label tr-switch tr-switch-side="right" ng-if="app.user.member && app.user.member.length">
          <input type="checkbox"
                 ng-disabled="!app.user.member || !app.user.member.length"
                 ng-change="search.onUserTribesFiltersChange()"
                 ng-model="search.filterByUsersTribes">
          <ng-pluralize count="app.user.member.length" when="{ 'one': 'Show only members from my tribe', 'other': 'Show only members from my tribes' }"></ng-pluralize>
        </label>
        <p ng-if="!app.user.member || !app.user.member.length" class="help-block">
          <span class="icon-right"></span> <a ui-sref="tribes.list" class="text-muted">Join tribes to find similar users</a>
        </p>
      </div>

      <div class="form-group">
      <label class="sr-only" for="languages">Tribes</label>
      <select multiple
              chosen
              id="tribes"
              class="form-control chosen-lg"
              placeholder-text-multiple="'Choose tribes'"
              no-results-text="'Cannot find '"
              search-contains="true"
              ng-change="search.onTribeFiltersChange()"
              ng-model="search.chosenTribes"
              ng-options="tribe.label for tribe in ::search.tribes track by tribe._id">
      </select>

      <p class="text-right help-block" ng-if="search.chosenTribes.length > 1">
        <a class="btn btn-link btn-sm" ng-click="search.chosenTribes = []; search.filterByUsersTribes = false;">Clear tribes</a>
      </p>
      </div>

    </div>
    <!-- /Filters -->

    <!-- Search results -->
    <div class="search-sidebar-section search-sidebar-results">

      <!-- Profile loading -->
      <div class="search-result panel panel-default panel-loading" ng-if="search.offer && !search.offer.$resolved">
        <div class="panel-body">
          <div tr-avatar data-size="32" data-link="false" data-source="none"></div>
          <h4>
            ███ ███
            <small class="text-muted">@███</small>
          </h4>
          <div class="search-result-meta">
            █ ███, ███.
          </div>
          <div class="search-result-tagline">
            █████ █████ ████
          </div>
          <div class="search-result-hosting">
            <span class="search-result-label">Hosting:</span>
            <span class="label">██</span>
            <div class="search-result-description">██████ █████ █████</div>
          </div>
          <div class="search-result-languages">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li>████</li>
              <li>████</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Profile loading -->

      <!-- Profile -->
      <div class="search-result panel panel-default" ng-if="search.offer.$resolved">
        <a class="panel-body" ui-sref="profile.about({username: search.offer.user.username})">
          <div tr-avatar data-size="32" data-link="false" data-user="search.offer.user"></div>
          <h4>
            {{ ::search.offer.user.displayName }}
            <small class="text-muted">@{{ ::search.offer.user.displayUsername || search.offer.user.username }}</small>
          </h4>
          <div class="search-result-meta">
            <span ng-if="search.offer.user.birthdate" ng-bind="search.offer.user.birthdate | ageyears"></span><span ng-if="search.offer.user.birthdate && search.offer.user.gender">, </span>
            <span ng-if="search.offer.user.gender" ng-class="{ 'text-capitalize': !search.offer.user.birthdate }">{{ ::search.offer.user.gender }}.</span>
          </div>
          <div class="search-result-tagline" ng-if="search.offer.user.tagline" ng-bind="search.offer.user.tagline"></div>
          <div class="search-result-hosting">
            <div class="search-result-label">
              Hosting:
              <span class="label" ng-class="{'btn-hosting-yes': search.offer.status === 'yes', 'btn-hosting-maybe': search.offer.status === 'maybe'}" ng-bind="search.offer.status"></span>
            </div>

            <!-- Short descriptions -->
            <div class="search-result-description" ng-if="search.offer.description && search.offer.description.length < 1000" ng-bind-html="search.offer.description | trustedHtml"></div>

            <!-- Long descriptions -->
            <div class="search-result-description" ng-if="search.offer.description && search.offer.description.length >= 1000">
              <div class="panel-more-wrap">
                <div ng-bind-html="search.offer.description | limitTo:1000 | trustedHtml" class="panel-more-excerpt"></div>
                <div class="panel-more-fade">Show more...</div>
              </div>
            </div>

          </div>
          <div class="search-result-languages" ng-if="search.offer.user.languages.length">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li ng-repeat="code in search.offer.user.languages track by code">{{ ::app.languageNames[code] || code }}</li>
            </ul>
          </div>
        </a>
      </div>
      <!-- /Profile -->

      <p class="text-muted text-center hidden-xs">
        <br>
        <small>Note that locations on the map are not precise.</small>
      </p>

    </div>
    <!-- /.search-sidebar-results -->

  </div>
  <!-- /.search-map-sidebar -->

</section>
